label.input-custom-file input[type=file] {
  display: none;
}

.spellbook-card {
  width: 160px;
  height: 160px;
  min-height: 160px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.spellbook-card--hover:hover {
  background-color: #B0BEC5;
  cursor: pointer;
}

.spellbook-card--title {
  text-align: center;
  font-size: 16pt;
  line-height: 160px;
}

.tiny-button {
  padding-left: 4px;
  padding-right: 4px;
}

.spellbook-spell-level {
  text-align: center;
}

.class-select-labels {
  font-size: 15pt;
  display: inline-block;
  position: relative;
  top: -5px;
}

.spell-result-card {
  height: 30px;
}

.spell-result-card-element {
  position: relative;
  margin: 0px;
}

.spell-result-card-title {
  position: absolute;
  bottom: -25%;
}

.spell-result-card-button {
  position: absolute;
  bottom: -55%;
  right: -96%;
}

.spell-learn-drop-active {
  min-height: 100px;
  height: 100%;
  min-width: 200px;
  width: 100%;
  border-radius: 10px;
  border-width: 3px;
  border-style: dashed;
  border-color: green;
}

.spell-learn-drop-active:hover {
  background-color: gray;
}

.marginless {
  margin: 0px;
}

.paddingless {
  padding: 0px;
}
