label.input-custom-file input[type=file] {
  display: none;
}

.spellbook-card {
  width: 160px;
  height: 160px;
  min-height: 160px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.spellbook-card--hover:hover {
  background-color: #B0BEC5;
  cursor: pointer;
}

.spellbook-card--title {
  text-align: center;
  font-size: 16pt;
  line-height: 160px;
}

.tiny-button {
  padding-left: 4px;
  padding-right: 4px;
}

.spellbook-spell-level {
  text-align: center;
}
